{% extends 'base.html.twig' %}

{% block title %}Profile
{% endblock %}

{% block body %}

	{% if is_granted('ROLE_ADMIN') %}
		<a href="{{ path('app_admin') }}">X</a>
	{% else %}
		<a href="{{ path('app_user') }}">X</a>
	{% endif %}

	<h1>Your Profile</h1>

	<!-- Display current profile image with cache-busting query parameter -->


	Vous êtes connecté en tant que :
	{{ app.user.userIdentifier }}<br>

	<p>Nom d'utilisateur :
		{{ app.user.username }}</p>
	<p>Votre identifiant :
		{{ app.user.id }}</p>

	<h2>Votre genre :</h2>
	<p>{{ app.user.gender ?: 'Non défini' }}</p>


	<!-- Profile image update form -->
	<h2>Update Profile Image</h2>

	{{ form_start(form) }}
	<p>Image actuelle :</p>
	<img src="{{ asset('uploads/profile_images/' ~ (app.user.profileImage ?: 'default_image.png')) }}" alt="Image de profil" style="width: 100px; height: 100px; border-radius: 50%;">

	{{ form_row(form.profile_image) }}

	<button type="submit">Mettre à jour</button>
	{{ form_end(form) }}

	<hr>

	<!-- Profile username update form -->

	<h2>Changer le nom d'utilisateur</h2>
	{{ form_start(formUsername) }}
	{{ form_row(formUsername.username) }}
	<button class="btn btn-primary">Mettre à jour</button>
	{{ form_end(formUsername) }}

	<!-- Gender update form -->
	{{ form_start(formGender) }}
	{{ form_row(formGender.gender) }}
	<button type="submit">Mettre à jour le genre</button>
	{{ form_end(formGender) }}

	<hr>


	<!-- Add delete account form -->
	<h2>Supprimer le compte</h2>
	<form action="{{ path('delete_account') }}" method="POST" onsubmit="return confirm('Are you sure you want to delete your account? This action cannot be undone.');">
		<p>Êtes-vous sûr de vouloir supprimer votre compte ?</p>
		<button type="submit" class="btn btn-danger">Supprimer le compte</button>
		<input type="hidden" name="_token" value="{{ csrf_token('delete_account') }}">
	</form>

{% endblock %}
