{% extends 'base.html.twig' %}

{% block body %}
	{% if is_granted('ROLE_ADMIN') %}
		<a href="{{ path('app_admin') }}">X</a>

	{% else %}
		<a href="{{ path('app_user') }}">X</a>
	{% endif %}

	<h1>Liste d'amis</h1>
	<ul>
		{% for member in members %}
			<li>
				<a href="{{ path('member_profile', {id: member.id}) }}">
					{% if member == app.user %}
						<strong style="color: blue;">{{ member.username }}
							(You)</strong>
					{% else %}
						{{ member.username }}
					{% endif %}
				</a>
			</li>
		{% endfor %}
	</ul>
{% endblock %}
