{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block body %}

	{% if app.user %}
		<div
			class="mb-3">
			<!-- Display the user's profile image (default or custom) -->
			<a href="#" onclick="toggleUserInfo(event)">
				<img src="{{ asset('uploads/profile_images/' ~ (app.user.profileImage ? app.user.profileImage : 'default_image.png')) }}" alt="Profile Image" style="width: 60px; height: 60px; border-radius: 50%;">


			</a>

			<div id="user-info" style="display: none; margin-top: 10px;">

				<a href="{{ path('profile') }}">Paramètre</a><br>
				<a href="{{ path('app_logout') }}">Déconnexion</a>
			</div>
		</div>

		<div>
			<p>Nom d'utilisateur :
				{{ app.user.username }}</p>

			<p>
				Rôle:
				{% if 'ROLE_ADMIN' in app.user.roles %}
					{{ app.user.gender == 'female' ? 'administratrice' : 'administrateur' }}
				{% else %}
					{{ app.user.gender == 'female' ? 'utilisatrice' : 'utilisateur' }}
				{% endif %}
			</p>
			<a href="{{ path('upgrade_to_admin') }}">Prendre VIP</a><br>

		</div>
		<a href="{{path('member_list')}}">Voir tes amis</a>


		<script>
			function toggleUserInfo(event) {
event.preventDefault();
let userInfo = document.getElementById("user-info");
userInfo.style.display = userInfo.style.display === "none" ? "block" : "none";
}
		</script>
	{% endif %}

	<hr>
	<h2>Liste des Membres</h2>
	<div style="display: flex; flex-wrap: wrap; gap: 15px;">
		{% for member in members %}
			<div style="text-align: center;">
				<img src="{{ asset('uploads/profile_images/' ~ (member.profileImage ? member.profileImage : 'default_image.png')) }}" alt="Profile Image" style="width: 60px; height: 60px; border-radius: 50%;">
				<p>{{ member.username }}
					{% if member.id == app.user.id %}
						(moi)
					{% endif %}
				</p>
				<a href="{{ path('member_profile', {'id': member.id}) }}">Voir profil</a><br>

			</div>
		{% endfor %}
	</div>


{% endblock %}
